<html>
  <head>
    <style>
       .button {
          border-radius: 2px;
        }

      .button a {
          padding: 8px 12px;
          border: 1px solid #ED2939;
          border-radius: 2px;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 14px;
          color: #ffffff; 
          text-decoration: none;
          font-weight: bold;
          display: inline-block;  
      }
    </style>
  </head>
    <body width="100%">

      <h1>meet.us</h1>
